---
import { Container, StickyTextImageSection, TextCardSection, CtaCardSection, Button } from '@littlesticks/odyssey-theme-components';
import {Icon} from 'astro-icon'

import Layout from '../layouts/Page.astro';
import HomeHeroSection from '../components/sections/heros/HomeHeroSection.astro';
import NewsletterForm from '../components/forms/NewsletterForm.astro'
---

<Layout>
	<HomeHeroSection />

	<!-- Features section -->
	<StickyTextImageSection>
		<div slot="text-container">
		<h2>¿Por qué elegirnos?</h2>
		<h3>Ahorra tiempo</h3>
		<p>
			Ahorrar tiempo en la preparación de comidas puede ser difícil para aquellos con un estilo de vida ocupado. Nuestro servicio de mealprep a domicilio elimina la necesidad de planificar, comprar y cocinar tus comidas, permitiéndote enfocarte en otras actividades importantes.
		</p>
		<h3>Comidas personalizadas</h3>
			<p>
			Nuestro servicio de mealprep a domicilio personaliza las comidas para satisfacer las necesidades nutricionales y preferencias de cada cliente, ya sea por motivos de salud, religiosos o personales, eliminando la preocupación de tener que cocinar comidas especiales en casa.
		</p>
		<h3>Comidas saludables</h3>
			<p>
			Mantener una dieta saludable puede ser un desafío para aquellos con poco tiempo para cocinar. Nuestro servicio de mealprep a domicilio puede ayudar a mantener una dieta equilibrada con comidas saludables y balanceadas, utilizando ingredientes frescos y de calidad, mejorando el bienestar general de los clientes.
		</p>
		</div>
		<picture slot="image-container">
		<img
			src="/assets/images/home/features.jpeg"
			alt="Astro Odyssey"
			loading="lazy"
		/>
		</picture>
	</StickyTextImageSection>

	<Container>
		<section class="feature-card__section">
			<h2 class="feature-card__section__title">¿Cómo funciona el servicio?</h2>
			<!-- <p>Learn more about how to set up and use the Odyssey Theme.</p> -->
			<div class="feature-card__grid">
				<div>
					<h2>Selecciona</h2>
					<img src="/assets/images/home/selecciona.jpeg" alt="">
					<p>
						Elige entre nuestro menú disponible o personaliza tus comidas. Puedes seleccionar las comidas que desees para la siguiente semana y enviar tu lista de comidas el viernes previo.
					</p>
				</div>
			<!-- <Button slot="column-1-cta">Learn More</Button> -->
				<div>
					<h2>Realiza el pago</h2>
					<img src="/assets/images/home/pago.jpeg" alt="">
					<p>
						Después de seleccionar las comidas, puedes realizar el pago del servicio utilizando los métodos de pago disponibles, como tarjeta de crédito o transferencia bancaria.
					</p>
				</div>
			<!-- <Button slot="column-2-cta" outlined>Learn More</Button> -->
				<div>
					<h2>Recibe</h2>
					<img src="/assets/images/home/recibe.jpeg" alt="">
					<p>
						El servicio realiza dos entregas a la semana para garantizar la frescura de los alimentos. Recibe tu entrega en la comodidad de tu hogar y disfruta de comidas saludables durante toda la semana.
					</p>
				</div>
			</div>
		</section>

	</Container>

	<!-- <div id="list">

	
	<Container>
		<TextCardSection>
			<h1>Anótate a nuestra lista de espera</h1>
			<p>
				Se de los primeros en ser parte de nuestro servicio de mealpreps saludables.
			</p>
			<NewsletterForm />
		</TextCardSection>

	</Container>
	</div> -->

	<div id="list">
	  <CtaCardSection background="var(--theme-surface-2)" color="var(--theme-on-surface-2)">
    	<h2>Anótate a nuestra lista de espera</h2>
   		<p>Se de los primeros en ser parte de nuestro servicio de mealpreps saludables.</p>
		<NewsletterForm />
  	  </CtaCardSection>
  	</div>

	<!-- <Container>
		<section class="feature-card__section">
			<h2>Landing Pages</h2>
			<p>
				Use one of our landing pages to jumpstart your website or
				ad campaign.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/landing-pages/landing-1" title="Landing Page 1" imgSrc="/assets/images/home/screenshots/landing-1">
				</FeatureCard>
				<FeatureCard href="/landing-pages/landing-2" title="Landing Page 2" imgSrc="/assets/images/home/screenshots/landing-2">
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Company Pages</h2>
			<p>
				Use one of our prebuilt company pages for your about page, contact page,
				legal pages, blog posts, etc.
			</p>
			<div class="feature-card__grid">
				<FeatureCard href="/company/about" title="About Page" imgSrc="/assets/images/home/screenshots/about">
				</FeatureCard>
				<FeatureCard href="/company/contact" title="Contact Page" imgSrc="/assets/images/home/screenshots/contact">
				</FeatureCard>
				<FeatureCard href="/blog/" title="Blog Page" imgSrc="/assets/images/home/screenshots/blog">
				</FeatureCard>
				<FeatureCard
					href="/blog/posts/remote-work-mental-health"
					title="Blog Post"
          imgSrc="/assets/images/home/screenshots/blog-post"
				>
				</FeatureCard>
				<FeatureCard
					href="/company/legal"
					imgSrc="/assets/images/home/screenshots/legal"
					title="Legal Page"
				>
				</FeatureCard>
			</div>
		</section>
	</Container>

	<Container>
		<section class="feature-card__section">
			<h2>Theme Pages</h2>
			<p>Learn more about how to set up and use the Odyssey Theme.</p>
			<div class="feature-card__grid">
				<FeatureCard
					href="/theme/get-started"
					imgSrc="/assets/images/home/screenshots/get-started"
					title="Get Started"
				>
				</FeatureCard>
				<FeatureCard
					href="/theme/style-guide"
					imgSrc="/assets/images/home/screenshots/style-guide"
					title="Style Guide"
				>
				</FeatureCard>
			</div>
		</section>
	</Container> -->
</Layout>

<style>
	.feature-card__section {
		margin: var(--section-margin) auto;
	}

	.feature-card__section .feature-card__section__title {
		margin-bottom: 2rem;
	}
	.feature-card__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--theme-grid-gap);
	}
	.feature-card__grid img {
		width: 100%;
		/* height: 30rem; */
		border-radius: 1.8rem;
		margin-bottom: 2rem;
	}

	@media (max-width: 768px) {
		.feature-card__grid {
			grid-template-columns: 1fr;
		}
	}
</style>
