---
import {
	Container,
	TextCardSection,
	
} from '@littlesticks/odyssey-theme-components';
import Layout from '../layouts/Page.astro';


const seo = {
	title: 'About | Astro Odyssey Theme',
	description: 'About Page',
};
---

<Layout {seo}>
<Container>
		<TextCardSection>
			<h1>Mealmaker's Menú</h1>
			<p>
				Muy próximamente podras ver nuestro menú de comidas además de nuestra herramienta para personalizar tus comidas.
			</p>
			
		</TextCardSection>

	</Container>
</Layout>
