---
import { Button, FormInput, FormTextarea } from '@littlesticks/odyssey-theme-components';
import FormSelect from './FormSelect.astro'

const selectOptions = [
  "Google Search",
  "Redes sociales",
  "Email",
  "Un amigo"
]

---

<form name="Contact Form" method="POST" action="/contact-thank-you">
  <FormInput type="text" label="Nombre" name="Name" placeholder="Escribe tu nombre..." required />
  <FormInput type="email" label="Email" name="Email" placeholder="tucorreo@ejemplo.com" required />
  <FormSelect label="Cómo te enteraste de nosotros?" options={selectOptions} required />
  <FormTextarea label="Mensaje" name="Message" placeholder="Tu mensaje aquí..." required />
  <Button>Enviar</Button>
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
</style>