---
---

<div class="logo-container">
	<img class="odyssey-logo-image" src="/assets/images/home/logo.png" alt="">
	<!-- <p class="odyssey-logo">MealMakers</p> -->
</div>

<style>
	.logo-container {
		display: flex;
	}
	.odyssey-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-serif);
    font-size: var(--font-size-md);
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	.odyssey-logo-image {
		width: 10rem;
	}
</style>
